<div class="main-container animated fadeIn fast">
    <h1 class="text-center">Cargar Información</h1>
    <hr>

    <div class="row m-2">
        <div class="col-md-12 text-right">
            <button [routerLink]="['/agregar','nuevo']" class="btn btn-outline-success">
              + 
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>

                            <th>Categoría</th>
                            <th>Pregunta</th>
                            <th>Respuesta Corta</th>
                            <th>Respuesta Larga</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let etiqueta of preguntas | keys">
                        <tr *ngFor="let key of preguntas[etiqueta] | keys ; let i = index">
                            <td class="categoria">{{ preguntas[etiqueta][key].categoria}}</td>
                            <td>{{ preguntas[etiqueta][key].pregunta}}</td>
                            <td>{{ preguntas[etiqueta][key].respuesta_corta}}</td>
                            <td>{{ preguntas[etiqueta][key].respuesta_larga}}</td>
                            <td>
                                <button [routerLink]="['/agregar/', preguntas[etiqueta][key].categoria, key]" type="button" class="btn btn-outline-success">Editar</button>
                            </td>
                            <td>
                                <button (click)="borraPregunta(etiqueta, key)" type="button" class="btn btn-outline-danger">Eliminar</button>
                            </td>




                        </tr>







                    </tbody>
                </table>

                <div *ngIf="(preguntas | keys).length === 0 && !loading" class="text-center alert alert-info" role="alert">
                    <strong>No hay</strong> registros que mostrar
                </div>

                <div *ngIf="loading" class="text-center alert alert-warning" role="alert">
                    <strong>Cargando...</strong> por favor espere
                </div>


            </div>
        </div>

    </div>

</div>